<section class="vh-100" style="background-color: #FEE2B2;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="home">Bienvenido</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="publicacion">Crear Publicacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="perfil">Ver Perfil</a>
              </li>
            </ul>
              <input class="form-control custom-input" type="text" placeholder="Registro Academico" aria-label="Curso o catedratico">
          </div>
        </div>
      </nav>
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                      alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                    <h5>Nombre +  Apellido</h5>
                    <p>Estudiante</p>
                    <i class="far fa-edit mb-5"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Informacion Personal</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Correo</h6>
                          <p class="text-muted">info@example.com</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Registro Academico</h6>
                          <p class="text-muted">202201989</p>
                        </div>
                      </div>
                      <h6>Creditos</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Creditos Aprobados</h6>
                          <p class="text-muted">Total</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cursos Aprobado</th>
                    <th scope="col">Credito</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Logica y Sistemas</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Matematica Basica 1</td>
                    <td>9</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</section>

