<section class="vh-100" style="background-color: #508bfc;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="home">Bienvenido</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="publicacion">Crear Publicacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="perfil">Ver Perfil</a>
              </li>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filtrar Publicaciones
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Filtrar por Curso</a>
                  <a class="dropdown-item" href="#">Filtrar Catedratico</a>
                  <a class="dropdown-item" href="#">Filtrar por Nombre de curso</a>
                  <a class="dropdown-item" href="#">Filtrar por Nombre del catedratico</a>
                </div>
              </div>
            </ul>
              <input class="form-control custom-input" type="text" placeholder="Nombre del Curso o catedratico" aria-label="Curso o catedratico">
          </div>
        </div>
      </nav>

        
<div class="container posts-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <div class="media-body ml-3">
                    Nombre del estudiante
                    <div class="text-muted small">Fecha de Creacion</div>
                    <div class="text-muted small">Curso o Catedratico de quien trata</div>
                  </div>
                </div>
            
                <p>
                    Mensaje de la publicacion
                </p>
              
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <small class="align-middle">
                    <strong>Comments</strong> </small>
                </a>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <div class="media-body ml-3">
                    Nombre del estudiante
                    <div class="text-muted small">Fecha de Creacion</div>
                    <div class="text-muted small">Curso o Catedratico de quien trata</div>
                  </div>
                </div>
            
                <p>
                    Mensaje de la publicacion
                </p>
              
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <small class="align-middle">
                    <strong>Comments</strong> </small>
                </a>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <div class="media-body ml-3">
                    Nombre del estudiante
                    <div class="text-muted small">Fecha de Creacion</div>
                    <div class="text-muted small">Curso o Catedratico de quien trata</div>
                  </div>
                </div>
            
                <p>
                    Mensaje de la publicacion
                </p>
              
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <small class="align-middle">
                    <strong>Comments</strong> </small>
                </a>
              </div>
            </div>
        </div>
    </div>
</div>
</section>

