<section class="vh-100" style="background-color: #FDC8B8;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Bienvenido</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="publicacion">Crear Publicacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="perfil">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="BuscarUsuarios">Buscar Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Cerrar sesion</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container posts-content">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Filtrar por: </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Catedraticos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Nombre de Catedratico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Nombre de Curso</a>
            </li>
          </ul>
          <input class="form-control custom-input" type="text" placeholder="Nombre del Curso o catedratico"
            aria-label="Curso o catedratico">
        </div>
      </div>
    </nav>

    <br>
    <div class="row">

      <div class="col-lg-6" *ngFor = "let objeto of datapublicidad">
        <div class="card mb-4">
          <div class="card-body">
            <div class="media mb-3">
              <div class="media-body ml-3">
                {{objeto.Nombre}}
                <div class="text-muted small">{{objeto.fecha}}</div>
                <div class="text-muted small">{{objeto.Curso}}/{{objeto.Catedratico}}</div>
              </div>
            </div>

            <p>
              {{objeto.Descripcion}}
            </p>

          </div>
          <div class="card-footer">
            <a  class="d-inline-block text-muted ml-" (click)="verComentarios(objeto.idpublicacion)">
              <small class="align-middle">
                <strong>Comentarios</strong> </small>
            </a>
          </div>
        </div>
      </div>
      <div class="form-outline mb-4">
        <input class="form-control custom-input1 " type="text" [(ngModel)]="this.Temporal.comentario"placeholder="">
        <button type="button" class="btn btn-success btn-block custom-button my-2" (click)="Pcomentario()">Publicar</button>
      </div>
    </div>
  </div>
</section>